

/* h1, h2 {
  color: #336b6b;
  font-family: 'Trebuchet MS', 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
} */

/* .verticalhorizontal {
  display: table-cell;
  height: 500px;
  text-align: center;
  width: 600px;
  vertical-align: middle;
} */

/* img {
  height: 1276px;
  left: 50%;
  margin-top: -638px;
  margin-left: -767px;
  position: absolute;
  top: 50%;
  width: 1532px;
} */

.imglogo {
  /* height: 1276px; */
  left: 50%;
  margin-top: -125px;
  margin-left: -150px;
  position: absolute;
  top: 50%;
  /* width: 1532px; */
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
