

h1, h2 {
  color: #336b6b;
  font-family: 'Trebuchet MS', 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

.verticalhorizontal {
  display: table-cell;
  height: 500px;
  text-align: center;
  width: 600px;
  vertical-align: middle;
}

